[zai]
customer_id = "YOUR_CUSTOMER_ID_HERE"
api_key = "YOUR_API_KEY_HERE"
org_id = "YOUR_ORG_ID_HERE"
project_id = "YOUR_PROJECT_ID_HERE"
bearer_token = "YOUR_BEARER_TOKEN_HERE"

[gitlab]
base_url = "YOUR_GITLAB_URL"
admin_username = "YOUR_GITLAB_ADMIN_USERNAME"
admin_password = "YOUR_GITLAB_ADMIN_PASSWORD"
